.base-desc-banner {
  position: relative;
}

.desc-banner-bg {
  position: relative;
  overflow: hidden;
}

.gojek-banner-bg {
  height: 70vh;
}

.gojek-banner-bg > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gobox-banner-bg {
  height: 80vh;
}

.gobox-banner-bg > img {
  position: absolute;
  top: 50%;
  right: -35%;
  transform: translateY(-50%) scale(0.9);
}

@media (min-width: 768px) {
  .gojek-banner-bg {
    height: 60vh;
  }

  .gobox-banner-bg > img {
    right: 0;
    transform: translateY(-50%) scale(1);
  }
}

.desc-banner-bg::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(30, 30, 30, 0.4);
}

.desc-banner-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fefefe;
  padding-bottom: 3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.gojek-banner-text {
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.gojek-banner-text > h2 {
  font-size: 1.5rem;
}

.gojek-banner-text > h3 {
  font-size: 1rem;
}

.gobox-banner-text {
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.gobox-banner-text > h2 {
  font-size: 2rem;
}

.gobox-banner-text > h3 {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .gojek-banner-text {
    justify-content: center;
    align-items: flex-end;
    text-align: right;
  }

  .gobox-banner-text {
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .banner-button {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.banner-button button {
  font-size: 0.8rem !important;
}
