.flex {
  display: flex;
}

.flex-as-column {
  flex-direction: column;
}

.flex-g-1 > *:not(:first-child) {
  margin-left: 1rem;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}
