.flex {
  display: flex;
}

.flex-as-column {
  flex-direction: column;
}

.flex-g-1 > *:not(:first-child) {
  margin-right: 1rem;
}

.flex-as-column.flex-g-1 > *:not(:first-child) {
  margin-right: 2rem;
}

.flex-justify-end {
  justify-content: flex-end;
}
